body {
  background-color: #3d55a6;
  color: #ffffff; 
  font-family: 'Crimson Pro', serif;
  transform: scale(1.5);
  transform-origin: 0 0;
}

h1 { 
	font-size: 25px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: left; 
}

h2 { 
	font-size: 18px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 0 10px; 
	text-align: left; 
}

th {
  width: 200px;
  text-align: left;
}

select {
	width: 50px;
}

.result{
  visibility: hidden;
  border: 2px solid #000000;
  background-color: lightgray;
  text-align: center;
  font-weight: bold; 
  width: 250px;
  color: #000000; 
  padding: 10px 0px;
}



.button {
  background-color: lightgray;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #000000;
}


.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    max-width: 600px;
    min-width: 320px;
    display: block;
}